:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    margin: 5rem 0 1rem 0;
  }

  & > div {
    margin-top: 5rem;
    display: flex;

    app-panel {
      margin-left: 5rem;
      width: 20rem;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

app-lang-sel {
  margin-top: 1rem;
}

.panel {
  &--user {
    height: 23rem;
  }
  &--form {
    &, & > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.user {
  background: var(--black--t);
  padding: 1rem 1rem 1rem 3.5rem;
  margin-top: .5rem;
  position: relative;

  &:first-of-type {
    margin-top: 0;
  }

  &__delete {
    position: absolute;
    top: 50%;
    left: 1.7rem;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    padding: .8rem;
    transition: all 100ms;

    img {
      width: .8rem;
      height: .8rem;
    }

    &:hover {
      cursor: pointer;
      background: var(--warning);
    }
  }

  &__details {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.4rem;
    }

    p {
      font-size: .9rem;
      margin-left: .5rem;
    }
  }

  &__email {
    margin-top: .1rem;
  }

  &__interests {
    padding-top: .5rem;

    span {
      font-size: .6rem;
      background: var(--highlight);
      padding: .2rem .5rem;
      border-radius: .25rem;
      margin-left: .5rem;
      transition: all 100ms;

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        background: var(--highlight--l);
      }
    }
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  width: 100%;
  padding: 0 2rem;

  app-button {
    margin-top: 1rem;
  }
}