:host {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 1rem;
    user-select: none;
    transition:
        background-color 150ms ease,
        color 150ms ease;
    position: relative;
    height: max-content;

    button {
        position: absolute;
        background: transparent;
        border: none;
        inset: 0;
        width: 100%;
    }

    background: var(--highlight);
    color: var(--white);

    &.--disabled {
        filter: grayscale(.8);
    }
}

.arrow {
    max-width: 1rem;
    margin-left: .5rem;
}